:root {
    font-size: 20px;
    color-scheme: light;
}

html {
	overflow-y: scroll;
    overscroll-behavior-y: auto;
	overflow-x: clip;
	overscroll-behavior-x: none;
    font-family: 'SimSun';
}

body {
    margin: 0rem;
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
}

#navpane {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	flex-grow: 1;
}

#navcontainer {
	width: 280px;
	font-size: 1.4rem;
	display: flex;
	flex-direction: column;
	padding-top: 40vh;
}

#contentpane {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

#under {
	display: flex;
	flex-direction: row;
}

#main {
	max-width: 840px;
	display: flex;
	flex-direction: column;
	margin: 0rem 0.6rem 0rem 0.6rem;
}

#extrapane {
	width: 280px;
	margin: 4rem 0rem 0rem 0rem;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.4rem 0.6rem 0.3rem 0.6rem;
}

article {
	display: flex;
	flex-direction: column;
}

#nextperformance {
	display: flex;
	margin: 0.2rem 0rem 0.2rem 0rem;
}

.perf {
	display: flex;
	flex-direction: column;
	padding: 0rem 2rem 0rem 2rem;
}

#nextperf-right {
	display: flex;
	flex-direction: row-reverse;
}

#nextperf-left {
	display: flex;
	position: absolute;
	margin-left: 840px;
}

#nextperf-left .perf {
	align-items: flex-end;
	padding: 0rem 1rem 0rem 1rem;
}

/* == Page Styling == */

.headlinehr {
	width: 200vw;
	border: none;
	border-top: 1px dashed black;
}

#lowerheadlinehr {
	position: relative;
	right: 100vw;
}

#perfname span::before {
	position: absolute;
	margin-left: -2.1rem;
	content: "/"
}

#perfloc span:first-of-type::before {
	position: absolute;
	margin-left: -4rem;
	content: "NEXT"
}

/* == Text Styling == */

h1 {
	font-size: 3rem;
	margin-bottom: 0;
}

#title {
	text-decoration: none;
	filter: blur(0.02rem) drop-shadow(0 0 0.1rem light-dark(#c0c0c0, #141414));
}

#titlespan1 {
	font-size: 2rem;
}

#titlecontact {
	display:flex;
	justify-content: end;
	font-size: 2rem;
	filter: blur(0.02rem) drop-shadow(0 0 0.1rem light-dark(#c0c0c0, #141414));
}

.content p {
	padding: 0rem 2rem 0rem 2rem;
	text-align: justify;
	text-justify: inter-word;
}

/* ~~~~~~ mobile and small screens settings ~~~~~~ */
@media only screen and (max-width: 800px) {
    :root{
		font-size: 16px;
	}
	html {
        font-size: 16px;
    }
	body {
		flex-direction: column;
	}
	#navpane {
		display: none;
	}
	#extrapane {
		display: none;
	}
	#main {
		margin: 0rem 0rem 0rem 0rem;
    }
}