:root {
    font-size: 20px;
    color-scheme: light;
	background-color: light-dark(#fffff8, #111111);

	--rs-interactive-colour:#9b9093;
	--rs-interactive-colour-hover:#bdb0b4;
}

html {
	overflow-y: scroll;
    overscroll-behavior-y: auto;
	overflow-x: clip;
	overscroll-behavior-x: none;
    font-family: 'SimSun', monospace;
}

@font-face {
	font-family: 'SimSun';
	src:url('../font/SimSun.woff2') format('woff2'),		
		url('../font/SimSun.ttf') format('truetype');
	font-style: normal;
}

body {
    margin: 0rem;
	padding-top: 1rem;
}

#navpane {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	flex-grow: 1;
}

#navcontainer {
	width: 280px;
	font-size: 1.4rem;
	display: flex;
	flex-direction: column;
	margin-top: 4rem;
}

#contentpane {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

#under {
	display: flex;
	flex-direction: row;
}

#main {
	max-width: 840px;
	margin: 0rem 0.6rem 0rem 0.6rem;
}

#extrapane {
	width: 280px;
	margin: 4rem 0rem 0rem 0rem;
}

footer {
	display: flex;
	flex-direction: column-reverse;
	padding: 0.4rem 0rem 0.3rem 0rem;
}

#nextperformance {
	display: flex;
}

.perf {
	display: flex;
	flex-direction: column;
	padding: 0rem 2rem 0rem 2rem;
}

#nextperf-right {
	display: flex;
	flex-direction: row-reverse;
}

#nextperf-left {
	display: flex;
	position: absolute;
	margin-left: 840px;
}

#nextperf-left .perf {
	align-items: flex-end;
	padding: 0rem 1rem 0rem 1rem;
}

/* == Page Styling == */

.headlinehr {
	width: 100%;
	border: none;
	border-top: 1px dashed currentColor;
}

#lowerheadlinehr {
	width: 200vw;
	position: relative;
	margin-left: -100vw;
}

#perfname span::before {
	position: absolute;
	margin-left: -2.1rem;
	content: "/"
}

#perfloc span:first-of-type::before {
	position: absolute;
	margin-left: -4rem;
	content: "NEXT"
}

#navlinksectionmain {
	margin: 1rem 0rem 1rem 0rem;
	display: flex;
	justify-content: space-between;
}

.navlinkobject {
	display: flex;
	flex-grow: 1;
}

.navlinkobject a span {
	width: 80px;
	text-align: center;
}

.navbutton {
	font-size: 1.2rem;
	padding: 0.3rem 1rem 0.45rem 1rem;
	margin: 0rem 1rem 0rem 1rem;
	border: 1px dashed currentColor;
	display: flex;
	justify-content: center;
	flex-grow: 1;
	text-decoration: underline dashed;
	color: var(--rs-interactive-colour);
}

.navbutton:visited {
	color: var(--rs-interactive-colour);
}

.navbutton:hover {
	color: var(--rs-interactive-colour-hover) !important;
}

.content hr {
	margin: 0.2rem 0rem 2rem 0rem;
	border: none;
	border-top: 1px dashed currentColor;
}

table {
	padding: 0rem 1rem 0rem 2rem;
	margin: 1rem 0rem 1rem 0rem;
	width: 100%;
}

table tr td span {
	position: relative;
	margin-left: -1rem;
}

table tr td button, .learnmorelink {
	color: var(--rs-interactive-colour);
	border: 1px dashed currentColor;
	border-radius: 0;
	background-color: transparent;
}

table tr td button:hover, .learnmorelink:hover {
	color: var(--rs-interactive-colour-hover);
}

table tr td button a, .learnmorelink a {
	color: var(--rs-interactive-colour);
	text-decoration: none;
	font-size: 1rem;
	font-family: 'SimSun', monospace;
}

table tr td button a:visited, .learnmorelink a:visited {
	color: var(--rs-interactive-colour);
}

table tr td button a:hover, .learnmorelink a:hover {
	color: var(--rs-interactive-colour-hover) !important;
}

table tr td em {
	font-size: 1.1rem;
}

.textaligncenter {
	text-align: center !important;
}

#eventsnexthr {
	margin: 0.4rem 0rem 0.2rem 0rem !important;
	border-top: 1px solid crimson;
	overflow: visible;
	text-align: left;
	height: 0.25rem;
}

#eventsnexthr::after {
	content: "\1F836";
	color: crimson;
	position: relative;
	font-size: 1.5rem;
	top: -1.08rem;
	left: -1.08rem;
}

.tabledropdown {
	display: none;
	position: relative;
	margin-left: -1rem;
}

.tablehr {
	margin: 0.2rem 0rem 1rem 0rem !important;
}

.tablebutton {
	text-align: right;
}

figure {
	padding: 0rem;
	margin: 0rem;
	font-size: 0rem;
}

figure img {
	max-width: 100%;
	width: 100%;
}

.listensection {
	display: flex;
	padding-bottom: 0.2rem;
	aspect-ratio: 2 / 1;
	margin: 0rem 1rem 0rem 1rem;
}

.listensection iframe:last-child {
	padding-left: 0.1rem;
}

.listensection iframe:first-child {
	padding-right: 0.1rem;
}

.listenportfolio {
	display: flex;
	padding: 0.2rem 0rem 0.8rem 0rem;
	aspect-ratio: 2 / 1;
	margin: 0rem 1rem 0rem 2rem;
}

/* == Text Styling == */

h1 {
	font-size: 3rem;
	margin: 0;
}

h2 {
	font-size: 2rem;
	display: flex;
	justify-content: flex-end;
	margin:0;
	color: var(--rs-interactive-colour);
	filter: blur(0.02rem) drop-shadow(0 0 0.1rem light-dark(#c0c0c0, #141414));
}

.pagetitleh2 {
	justify-content: center !important;
}

#title {
	text-decoration: none;
	color: var(--rs-interactive-colour);
	filter: blur(0.02rem) drop-shadow(0 0 0.1rem light-dark(#c0c0c0, #141414));
}

#title:visited {
	color: var(--rs-interactive-colour);
}

#title:hover {
	color: var(--rs-interactive-colour-hover) !important;
}

#titlespan1 {
	font-size: 2rem;
}

#titlecontact {
	display:flex;
	justify-content: end;
	font-size: 2rem;
	filter: blur(0.02rem) drop-shadow(0 0 0.1rem light-dark(#c0c0c0, #141414));
	text-decoration: underline dotted;
	color: var(--rs-interactive-colour);
	padding: 0;
	margin: 0;
	background-color: transparent;
	border-radius: 0;
	border: none;
	font-family: 'SimSun', monospace;
}

#titlecontact:hover {
	color: var(--rs-interactive-colour-hover) !important;
}

#emailcopiednotif {
	display: flex;
	font-size: 1rem;
	justify-content: flex-end;
	padding-right: 0.89rem;
}

.content p {
	padding: 0rem 2rem 0rem 2rem;
	text-align: justify;
	text-justify: inter-word;
}

#nextperformance a, #nextperformance a:visited, .maphyperlink, .maphyperlink:visited {
	color: var(--rs-interactive-colour);
	text-decoration: underline dotted;
}

#nextperformance a:hover, .maphyperlink:hover {
	color: var(--rs-interactive-colour-hover);
}

#ceresfootnote {
	font-size: 0.8rem;
	display: flex;
	justify-content: flex-end;
}

/* ~~~~~~ decorative ~~~~~~ */

#leftsidemarginimage {
	width: 280px;
	margin: 1.3rem 0rem 1.3rem 0.5rem;
	background-image: url(/static/site/leftsidemarginimage.png);
}

#rightsidemarginimage {
	position: relative;
	margin: 1.3rem 0.5rem 1.3rem -0.5rem;
	width: 280px;
	background-image: url(/static/site/rightsidemarginimage.png);
}

#upperrightsidemarginimage {
	position: relative;
	margin: 1.3rem 0.5rem 1.3rem -0.5rem;
	width: 280px;
	background-image: url(/static/site/upperrightsidemarginimage.png);
}

#runnerimage {
	margin: 0rem 1rem 0.5rem 1rem;
	background-image: url(/static/site/runnerimage.png);
}

#runnerimage img, #leftsidemarginimage img, #rightsidemarginimage img, #upperrightsidemarginimage img {
	max-width: 100%;
	max-height: 100%;
}

/* ~~~~~~ mobile and small screens setup ~~~~~~ */
#titlemobilecontainer {
	display: none;
	justify-content: center;
	padding: 0rem 2rem 0rem 2rem;
	margin: 0.5rem 0rem 1rem 0rem;
	flex-direction: column;
}

/* ~~~~~~ mobile and small screens settings ~~~~~~ */
@media only screen and (max-width: 1500px) {
	body {
		flex-direction: column;
		min-height: 130vh;
	}
	#navpane {
		display: none;
	}
	#extrapane {
		display: none;
	}
	#contentpane {
		justify-content: center;
	}
	#main {
		margin: 0rem 0rem 0rem 0rem;
    }
	#titlemobilecontainer {
		display: flex;
	}
	#nextperf-right {
		font-size: 14px;
		justify-content: flex-end;
		flex-grow: 1;
	}
	#nextperf-left {
		font-size: 14px;
		position: unset;
		margin-left: 0;
	}
	#nextperformance {
		justify-content: space-between;
	}
	.perf {
		padding: 0 !important;
	}
	#perfname {
		padding-left: 4rem !important;
	}
	h1 {
		font-size: 3rem;
	}
}

@media only screen and (max-width: 840px) {
    :root{
		font-size: 16px;
	}
	html {
        font-size: 16px;
    }
	#navlinksectionmain {
		flex-direction: column;
		padding: 0rem 0.5rem 0rem 0.5rem;
	}
	#perfloc {
		display: none;
	}
	#perfname span::before {
		display: none;
	}
	#nextperf-right, #nextperf-left {
		font-size: 12px;
	}
	#perfname {
		padding-left: 0.5rem !important
	}
	#nextperf-left .perf {
		padding-right: 0.5rem !important;
	}
	h2 {
		padding: 0rem 2rem 0rem 2rem;
	}
	.content hr {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.navbutton {
		margin: 0.2rem 0.5rem 0.2rem 0.5rem;
	}
	#ceresfootnote {
		margin: 0rem 1rem 0rem 1rem;
	}
	h2, #title {
		filter: blur(0.01rem) drop-shadow(0 0 0.1rem light-dark(#c0c0c0, #141414));
	}
}